body{
    margin: 0;
    background-color:#282828;
    color: white;
}

#header{
    display: flex;
    flex-direction: row;
    position: absolute;
    height: 30%;
    width:100%;
    padding: 10px;

}
#content{
    position: relative;
    top: 8%;
    height: 100%;
    width: 50%;
    left: 15%;
}
.thin{
    font-weight: 100;
}

.headImage{
    height: 120%;
    width: 120%;
} 
button{
    background-color: green;
    border: 1px solid green;   
}
#pokelist{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 33%;
    height: 70%;
    width: 70%;
    left:25%;
}
.pokeIm{
    position: relative; 
    height: 80%;
    width: 10%;
     
}
.pokemon{
    display: flex;
    position: relative;
    height: 10%;
    width: 100%;
    border-bottom: 2px solid yellow;  
}
#navBar{
    background-color: yellow;
    position: absolute;
    border-radius: 5px;
    top: 200px;
    left: 380px;
    height: 40px;
    width: 70%; 
    display: flex;
    flex-direction: row;
}
.navText{
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}