.card{
    border: solid;
    padding: 10px;
    margin: 20px;
    width: 90%;
    text-align: left;
}
h1{
    font-size: 30px;
}



.icon{
    float: left;
    margin-left: 40px;
    margin-top: 40px;
    size:10px;
    
}
.play{
    background-color: greenyellow;
}
.pause{
    background-color: white;
}

/* .cardclicked{
    background-color: pink;
    border: solid green;
    padding: 10px;
    margin: 20px;
    width: 90%;
    text-align: left;
} */
