
body{
    background-color: black;
    color: white;
}
.card{
    border: solid;
    padding: 10px;
    margin: 20px;
    width: 90%;
    text-align: left;
}
h1{
    font-size: 30px;
}




.play{
    background-color: greenyellow;
}
.pause{
    background-color: white;
}
.spotify{
    float: left;
    margin-right: 30px;
    
}
.rhea{
    font-weight: bold;
    margin-bottom: 110px;
}
.album{
    font-weight: 100;
}
.icon{
    position: relative;
    left: 1000px;
}